@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Germania+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
 background-color: black;
}
.plus {
  position:fixed;
  border: 1px rgb(255, 255, 255);
  width: 44px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}

.top {
  bottom: 46.5px;
  left: 1457.5px;
  transform: rotate(90deg);
}

.side {
  bottom: 46.5px;
  left: 1457.5px;
}

.logmenu {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border: 1.67px solid black;
    border-radius: 20px;
    padding-top: 5px;
    bottom: 18px;
    right: 26px;
    position: fixed;
}

.addlogbutton {
    padding: 10px 20px;
    background-color: #e44a1b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.addmachine {
    padding: 10px 20px;
    background-color: #e44a1b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.addvideobutton {
    padding: 10px 20px;
    background-color: #e44a1b;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none; /* Hides the button by default */
}

h1 {
    color: white;
    font-family: 'Aldrich', serif;
}
h2 {
    color: white;
    font-family: 'Aldrich', sans-serif;
}
h3 {
    color: white;
    font-family: 'Aldrich', sans-serif;
}
p {
    color: white;
    font-family: 'Inter', sans-serif;
}