@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Germania+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  margin: 0;
  background-color: #000;
  color: white;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
}

.card {
  width: 280px;
  height: 520px;
  background: #111;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  transition: 0.3s ease;
}

.card h2 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
}

.card p {
  position: absolute;
  top: 72%;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 0.95rem;
  font-family: 'Germania One', sans-serif;
}

.card button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  background: #00eaff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover button {
  background: white;
  color: black;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #00eaff80;
}

.card:hover .card-bg {
  filter: brightness(100%);
}
