@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Germania+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    background: #000;
    color: white;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #324ecdbb;
}

.page-title {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    font-size: 2rem;
    text-shadow: 0 0 27px #00eaffaa;
}

.two-row-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 95%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.card {
    position: relative;
    background: #111;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    transition: 0.25 ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 20px var(--card-color-glow);
}

.card[data-color="red"]    { --card-color-glow: #ff2b2bbb; }
.card[data-color="blue"]   { --card-color-glow: #2bb3ffff; }
.card[data-color="green"]  { --card-color-glow: #33ff44bb; }
.card[data-color="yellow"] { --card-color-glow: #ffe44bbb; }
.card[data-color="purple"] { --card-color-glow: #cc55ffbb; }
.card[data-color="cyan"]   { --card-color-glow: #00fff2bb; }


.card-bg {
    height: 55%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(60%);
    transition: 0.35s ease;
}

.card:hover .card-bg {
    filter: grayscale(0%) brightness(100%);
}

.card h2 {
    margin: 0;
    position: absolute;
    top: 57%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 0 8px #000;
    font-family: 'Aldrich', sans-serif;
}

.card p {
    font-family: 'Inter', sans-serif;
}

.requirements {
    position: absolute;
    top: 68%;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: #cccccc;
    line-height: 1rem;
}



.card:hover button {
    background: white;
    color: black;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
